body{

margin: 0;
    padding: 0;
    
    
}

.pressing
{

position: absolute;
    top: 105%;
    left:48%;
    transform: translate(-50%,-50%);
    font-family: arial;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    background: transparent;
    width: 110px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;

}

.pressing:before{

content: '';
    position: absolute;
    width: 105%;
    height: 110%;
    background:black;
    opacity: .7;
    z-index: -1;
    mix-blend-mode:multiply;
    transform-origin: top;
    transition: .2s;
    top: -3px;
    left: -3px;

}



.pressing:after{

content: '';
    position: absolute;
    width: 106%;
    height: 110%;
    background: #ff0606;
    opacity: .7;
    z-index: -1;
    mix-blend-mode:multiply;
    transform-origin:bottom;
    transition: .2s;
    bottom: -3px;
    right: -3px;
}

.pressing:hover:before
{

top: -6px;
    left: 50;
    transform: perspective(1000px)rotateX(80deg);
    
}

.pressing:hover:after{

bottom: -6px;
    right: 0;
    transform: perspective(1000px)rotateX(-80deg;)

}

.pressing:hover
{

color: #262626;
    
}