*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.row{
    
max-width: 1140px;
margin: 0 auto;

}

header{

background-image: url(mario.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.first{

position: absolute;
    widows: 1140px;
    top: 10%;
    left: 30%;
    transform: translate(-50%,-50%);

}

h1{

    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;

}


footer{

background-color:grey;
    
}

footer-nav{

    list-style: none;
    float: left;
    
}

.footer-nav li{

display: inline-block;
margin-right: 200px;

}

.footer-nav li:last-child{

margin-right: 0; 

}

.footer-nav li a:link,
.footer-nav li a:visited{

text-decoration: none;
    border: 0;
    color: #888;
    transition:color 0.2s;

}

.footer-nav li a:hover,
.footer-nav li a:active{

color: #ddd;

}

footer {

color: #888;
    text-align: center;
    font-size: 90%;
    margin-top:0px;

}

.para{
margin-top: 120px;

}